img {
    width: 384px;
    height: 216px;
    size: 540px 540px;
}
.judul{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 85px;
}
.gamesrow{
    display: flex;
    float: left;
    padding-bottom: 20px;
}
.gamescolumn{
    flex : 33.33%;
    padding: 5px;
    padding-left: 85px;
}