img {
    width: 384px;
    height: 216px;
    size: 540px 540px;
    padding: 20px;
   
}
i{
    padding: 12px;
}

.judul{
    font-family: 'Inter';
    padding-left: 85px;
}
.games{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding-left: 70px;
    padding-bottom: 20px;
}


body{
    position: relative;
}
span{
    vertical-align: middle;
}
