img {
    width: 384px;
    height: 216px;
    size: 540px 540px;
    padding: 20px;
}
.judul{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 85px;
}
.games{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding-left: 70px;
    padding-bottom: 20px;
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(8, 108, 180, 0.996);
   color: white;
   text-align: center;
   padding-bottom: 20px;
   text-align: center;
   vertical-align: middle;
   
}
body{
    position: relative;
}
span{
    vertical-align: middle;
}
