@font-face {
    font-family: 'PoppinsBold';
    src: url(/fonts/Poppins-Bold.ttf);
    
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Barlow-Bold';
    src: url(/fonts/Barlow/Barlow-Bold.ttf);
   
}
@font-face {
    font-family: 'Barlow-Light';
    src: url(/fonts/Barlow/Barlow-Light.ttf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background-color: #fff ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}
header .logoicon{
    width: 26px;
    height: 25px;
    left: 93px;
    top: 26px;
    margin-right: auto;
    cursor: pointer;

}


header .title{
    position: absolute;
    width: 94px;
    height: 18px;
    left: 130px;
    top: 26px;

    font-family: 'PoppinsBold';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #246FB5;
}

header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 10px 0 ;
    font-family: 'Inter';
    margin-left: 0;
    display: flex;
    align-items: center;
    list-style: none;

}

header .navigation li{
    list-style-type: none;
    margin: 0px  10px;
    
}

header .navigation li a
{
    
    position: relative;
    color:black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 20px;
    padding: 0 10px;
    
}
header .navigation li a:hover
{
    color: rgb(2, 108, 238);
}
header .title:hover
{
    color: #245888;
}
i{
    padding: 12px;
}
.sociallink{
    color:rgb(0, 0, 0);
}
.sociallink:hover{
    color: rgb(2, 108, 238);
}
.navigation{
    padding-right: 20px;
}
.footer{
   
    margin-top: auto;
    width: 100%;
    padding: 100px 15%;
    background-color: rgb(16, 116, 203);
    color: white;
    display: flex;
    
    
 }
 
 .footer div{
     text-align: center;
 }
 .col2{
     flex-grow: 2;
 }
 .footer div h3{
     font-weight: 300;
     margin-bottom: 30px;
     letter-spacing: 1px;
     font-family: 'Barlow-Bold';
 }
 .col1, .col2, .col3{
     font-family: 'Barlow-Light';
 }
 .col1 a{
      display: block;
      text-decoration: none;
      color: white;
      margin-bottom: 10px;
 }
 .col2 p{
     margin-bottom: 10px
 }
 .col3 a{
     display: block;
      text-decoration: none;
      color: white;
      margin-bottom: 10px;
 }






